{% extends "layout.html.twig" %}

{% block content %}
    <div class="contentdl">
        <h1>Pix'Pok</h1>
        <p>Transférez vos images sur ce FTP.<br />Format autorisé : png, gif, jpg et jpeg.<br />Taille max : 1 Mo.</p>

        {{ form(form) }}
    </div>
{% endblock %}
