<!DOCTYPE html>
<html>
    <head>
        <title>Pix'Pok</title>
        <meta charset="UTF-8" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
